@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300,700);

$font-family: 'Raleway', Helvetica, sans-serif !default;
$primary: "indigo" !default;
$default-color: "900" !default;

$letter: url('images/letter-paper.jpg');

@import 'ember-paper';

.main-content {
  max-width: 90%;
}

.brand {
  .brand-subhead {
    font-weight: 300;
  }
}

.card-overlay {
  margin: 10px;
}

.letter-background {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  opacity: 0.5;
  background-image: $letter;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.letter-text {
  border: 10px solid;
  z-index: 1;
  opacity: 1;
}


.letter-background:after {
  // content: ' ';
  // display: block;
  // position: absolute;
  // left: 0;
  // top: 0;
  // width: 100%;
  // // height: 100%;
  // z-index: 1;
  // opacity: 0.5;
  // background-image: $letter;
  // background-repeat: no-repeat;
  // background-position: 50% 0;
  // -ms-background-size: cover;
  // -o-background-size: cover;
  // -moz-background-size: cover;
  // -webkit-background-size: cover;
  // background-size: cover;
}
