@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300,700);

$font-family: 'Raleway', Helvetica, sans-serif !default;
$primary: "indigo" !default;
$default-color: "900" !default;

$letter: url('images/letter-paper.jpg');
$legal: url('images/legal-paper.jpg');
$tabloid: url('images/tabloid-paper.jpg');

@import 'ember-paper';

a {
    text-decoration: none;
    color: black;
}

a:hover {
  color: #3f51b5;
}

.feature {
  padding: 20px 0px 20px 0px;
  text-align: center;
  color: white;
  background-color: #7986CB;
}

.md-sidenav-left {
  min-height: 100vh;
}

.add-button {
  padding: 5px 15px !important;
  width: 90%
}

.checkout-button {
  padding: 5px 15px !important;
  width: 25%;
}

#item-count {
  font-size: 25px;
}

.item-tile-right {
  text-align: right;
}

.main-content {
  max-width: 90%;
}

.brand {
  .brand-subhead {
    font-weight: 300;
  }
}

.card-overlay {
  margin: 10px;
  color: white;
  z-index: 1;
  font-weight: bolder;
}

.Letter {
  height: 600px;
  width: 100%;
  background-image: $letter;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.Legal {
  height: 600px;
  width: 100%;
  background-image: $legal;
  background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.Tabloid {
  height: 600px;
  width: 100%;
  background-image: $tabloid;
  background-repeat: no-repeat;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
