@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,300,700);

$font-family: 'Raleway', Helvetica, sans-serif !default;
$primary: "indigo" !default;
$default-color: "900" !default;

$letter: url('images/letter-paper.jpg');
$legal: url('images/legal-paper.jpg');
$envelope: url('images/envelopes.jpg');

@import 'ember-paper';

.main-content {
  max-width: 90%;
}

.brand {
  .brand-subhead {
    font-weight: 300;
  }
}

.card-overlay {
  margin: 10px;
  color: white;
  z-index: 1;
  font-weight: bolder;
}

.letter-background {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.letter-background:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  // opacity: 0.5;
  background-image: $letter;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.Legal {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Legal:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  // opacity: 0.5;
  background-image: $legal;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.Envelope {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.Envelope:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  // opacity: 0.5;
  background-image: $envelope;
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
