{{product-tile-main model=model}}

<div layout-gt-md="row">
  {{#paper-card flex="49"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="49"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}
</div>

<div layout-gt-md="row">
  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="31"}}
    <div class="letter-background">
      <p class="card-overlay">
        Some buttons and text
      </p>
    </div>
    {{#paper-card-content}}
      <p>Letter size paper content</p>
    {{/paper-card-content}}
  {{/paper-card}}

</div>
