<div layout-gt-md="row">
  {{#paper-card flex="66"}}
    <div class="{{model.name}}"></div>
    {{#paper-card-content}}
      {{product-tile product=model}}
    {{/paper-card-content}}
  {{/paper-card}}

  {{#paper-card flex="31"}}
    {{#paper-card-content}}
      {{purchase-tile product=model}}
    {{/paper-card-content}}
  {{/paper-card}}
</div>
